
<!--Add new inventory form-->

<div class="cardd shadow">
	<h2 class="cardd_header">Add New Inventory</h2>
	<hr>
	<form>
		<div class="form-group">
			<div class="form-row">
			<div class="col">
                                <label for="asset_tag">Asset Tag*</label>
                                <input type="number" class="form-control" id="asset_tag">
                        </div>
                        <div class="col">
                                <label for="com_name">Computer Name</label>
                                <input type="text" class="form-control" id="com_name">
                        </div>
                        </div>

			<div class="form-row">
			<div class="col">
                        	<label for="model">Model*</label>
                       		<input type="text" class="form-control" id="model">
			</div>
			<div class="col">
                        	<label for="os">Operating System</label>
                        	<input type="text" class="form-control" id="os">
			</div>
			</div>

			<div class="form-row">
			<div class="col">
                        	<label for="serial">Serial Number</label>
                        	<input type="text" class="form-control" id="serial">
			</div>
			<div class="col">			
                        	<label for="service_tag">Service Tag</label>
                        	<input type="text" class="form-control" id="service_tag">
			</div>
			</div>
			<br>
			<div style="text-align:right">
				<button type="submit" class="btn-lg btn-success">ADD</button>
			</div>
		</div>
	</form>
</div>
