
<!--add group form-->

<!--Load custom method to style form widgets-->
{% load addCSS %}

<div class="cardd shadow" method="post">
        <h2 class="cardd_header">Add Group</h2>
        <hr>
        <form action="" method="post">
	        {% csrf_token %}
		<label for="group">group</label>
		{{ form.group|addclass:'form-control'}}
		<br><br>
		<div style="text-align:right">
                	<button type="submit" class="btn-lg btn-primary btn-wide">ADD GROUP</button>
		</div>
        </form>
</div>

