
<!--EDIT GROUP-->
{% load static %}

{% load addCSS%}

<script type="text/javascript" src="{% static 'manager/js/edit-groups.js' %}"></script>


<link rel="stylesheet" type="text/css"
  href="{% static 'manager/css/edit-groups.css' %}"/>

<div id="edit-grp-card" class="cardd shadow" method="post">
	<h2 class="cardd_header">Edit Groups</h2>
	<div id="add_grp_item">
			<form action="" method="post">
				{% csrf_token %}
				{{form.group|addclass:'add_grp_input'}}
				<button type="submit" id="submit_add_grp" type=submit>&gt;</button>
			</form>
	</div>
	<ul id="group-list">
		{% for g in groups %}
		<li class="group_item">
			<small>{{ g.group }}</small>
			<button class="del_btn">&times;</button>
		</li>
		{% endfor %}
		
	</ul>

	<hr>
	<!--
        <form action="" method="post">
	        {% csrf_token %}
		<label for="group">group</label>
		<br><br>
		<div style="text-align:right">
                	<button type="submit" class="btn btn-lg btn-primary btn-wide">SUBMIT</button>
		</div>
	</form>
	-->
</div>