
<!--EDIT GROUP-->
{% load static %}

{% load addCSS%}

<script type="text/javascript" src="{% static 'manager/js/edit-groups.js' %}"></script>


<link rel="stylesheet" type="text/css"
  href="{% static 'manager/css/edit-groups.css' %}"/>

<div id="edit-grp-card" class="cardd shadow" method="post">
	<h2 class="cardd_header">Edit Groups</h2>
	<div id="add_grp_item">
			<form action="" method="post">
				{% csrf_token %}
				{{form.group|addclass:'add_grp_input'}}
				<button type="submit" id="submit_add_grp" type=submit>&gt;</button>
			</form>
	</div>
	<ul id="group-list">
		{% for g in groups %}
		<li class="group_item">
			<small>{{ g.group }}</small>
			<button class="del_btn" onclick="confirm_delete(this)">&times;</button>
		</li>
		{% endfor %}
		
	</ul>

	<hr>
	<!--START MODAL-->
	<div class="modal fade" id="myModal" role="dialog">
			<div class="modal-dialog">
			
			  <!-- Modal content-->
			  <div class="modal-content">
				<div class="modal-header">
				  <h4 class="modal-title">Delete Group</h4>
				  <button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
					<p id="modalText"></p>
				</div>
				<div class="modal-footer">
				  <button type="button" class="btn btn-danger">Delete</button>
				</div>
			  </div>
			  
			</div>
	</div>
	<!--END MODAL-->
</div>