<!--BASE MENU TEMPLATE-->

{% load static %}

<!--Load Bootstrap-->
<link rel="stylesheet" type="text/css"
     href="{% static 'manager/css/bootstrap.min.css' %}"/>
<script src="{% static 'manager/js/jquery.min.js' %}"></script>
<script src="{% static 'manager/js/bootstrap.min.js' %}"></script>

<!--Load Custom stylesheet-->
<link rel="stylesheet" type="text/css" href="{% static 'manager/css/main.css' %}"/>

<div class="container-fluid">
	<!--BEGIN MENU-->
	<div class="menu shadow">
		<h3 class="menu_title">View Inventory</h3>
			<ul class="menu_list">
				<li class="menu_item"><a href='/deployed/?order=asset_tag&page=1'>deployed</a></li>
				<li class="menu_item"><a href='/undeployed/?order=asset_tag&page=1'>undeployed</a></li>
				<li class="menu_item"><a href='/select'>by asset tag</a></li>
				<li class="menu_item"><a href='/bygroup/?order=asset_tag&page=1'>by group</a></li>
			</ul>
		<h3 class="menu_title">Actions</h3>
                        <ul class="menu_list">
                                <li class="menu_item"><a href='/add'>add inventory</a></li>
                                <li class="menu_item"><a href='/deploy'>deploy inventory</a></li>
                                <li class="menu_item"><a href='/receive'>receive inventory</a></li>
								<li class="menu_item"><a href='/addgrp'>edit groups</a></li>
                        </ul>

		<h3 class="menu_title">More</h3>
                        <ul class="menu_list">
                                <li class="menu_item">settings</li>
                                <li class="menu_item">help</li>
                        </ul>
	</div>
	<!--END MENU-->

	<!--TOP NAV BAR-->
	<div class="top_bar shadow row">
		<div class="col-md-7">
			<!--TODO: login here-->
		</div>
		<div class="col-md-5 search-bar">
			<!--SEARCH FORM-->
			<form action="/search" class="search-bar" method="get">
				<div class="input-group">
					<input class="form-control" type="text" placeholder="Search" aria-label="Search" name="search_text">
					<div class="input-group-append">
						<button type="submit" class="btn btn-light btn-search">
							<img class="search-icon" src="{% static 'manager/icons/search.png' %}">
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	<!--START CONTENT-->
	<div class="content">
		{% if messages %}
		{% for message in messages %}
			<div class="alert alert-{{ message.tags }} alert-dismissible">
    			<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				{{ message }}
  			</div>
		{% endfor %}
		{% endif %}
		<!--import sub template from context-->
		{% if sub_template %}
			{% include sub_template %}
		{% endif %}
	</div>
	<!--END CONTENT-->
<div>
