
{% load static %}


<link rel="stylesheet" type="text/css"
  href="{% static 'manager/css/inventory-view.css' %}"/>

<script src="{% static 'manager/js/inventory-view.js' %}"></script>

<!--Main inventory card-->
<div id="inventory-card" class="wide-card shadow">
  <h1 id=inventory-header>Undeployed Inventory</h1>

  <!--Paginator container-->
  <div id="paginator-container" class="row">
    <div class="col">
      <small>Found {{ undeployed.paginator.count }} results</small>
    </div>
    <div class="col text-right">
      {% if undeployed.has_previous %}
        <a href="?order={{order}}&page={{ undeployed.previous_page_number }}">&laquo;</a>
      {% else %}
        <span class="disabled">&laquo;</span>
      {% endif %}
        <span> Page {{ undeployed.number }} of {{ undeployed.paginator.num_pages }} </span>
      {% if undeployed.has_next %}
          <a href="?order={{order}}&page={{ undeployed.next_page_number }}">&raquo;</a>
      {% else %}
          <span class="disabled">&raquo;</span></li>
      {% endif %}
    </div>
  </div>
  <!--End paginator container-->

  <table id="inventory-table" class="table table-striped table-sm ">
  <thead>
    <tr class="inventory-table-head">
      <th class="asset_tag_label"><a href="?order=asset_tag&page=1">#</a></th>
      <th><a href="?order=computer_name&page=1">Computer Name &#9660;</a></th>
      <th><a href="?order=model&page=1">Model &#9660;</a></th>
      <th><a href="?order=serial&page=1">Serial &#9660;</a></th>
      <th><a href="?order=service_tag&page=1">Service Tag &#9660;</a></th>
      <th><a href="?order=os&page=1">Operating System &#9660;</a></th>
      <th><a href="?order=purchase_date&page=1">Purchase Date &#9660;</a></th>
      <th><a href="?order=warrenty_expiration&page=1">Warrenty Exp. &#9660;</a></th>
      <th><a href="?order=last_updated&page=1">Last Updated &#9660;</a></th>
    </tr>
  </thead>
    <tbody>
      {% for d in undeployed %}
        <tr class='clickable-row' data-href= "/{{d.asset_tag}}">
          <td class="asset_tag_label">{{ d.asset_tag }}</td>
          <td>{{ d.computer_name }}</td>
          <td>{{ d.model }}</td>
          <td>{{ d.serial }}</td>
          <td>{{ d.service_tag }}</td>
          <td>{{ d.os}}</td>
          <td>{{ d.purchase_date }}</td>
          <td>{{ d.warrenty_expiration }}</td>
          <td>{{ d.last_updated }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <div id="paginator-container" class="row justify-content-center bottom">
    {% if undeployed.has_previous %}
      <a href="?order={{order}}&page={{ undeployed.previous_page_number }}">&laquo;</a>
    {% else %}
      <span class="disabled">&laquo;</span>
    {% endif %}
      <span> Page {{ undeployed.number }} of {{ undeployed.paginator.num_pages }} </span>

    {% if undeployed.has_next %}
        <a href="?order={{order}}&page={{ undeployed.next_page_number }}">&raquo;</a>
    {% else %}
        <span class="disabled">&raquo;</span></li>
    {% endif %}
  </div>

</div>
