/*main style class*/

/*Material UI shadow*/ 
.shadow{ 
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}


/*remove border*/
div.container-fluid{
	padding: 0px;
}

/*Style side menu bar*/
div.menu{
	
	background-color: #363647;
	height: 100%;
	width: 250px; /*fixed width*/
	overflow-x: hidden;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	padding-top: 10vh;
}

/*Menu item styling*/
h3.menu_title{
	color: white;
	font-weight: bold;
	padding-left: 20px;
}

ul.menu_list{
	padding-bottom: 2em;
	list-style-type: none;
	padding-left: 0;
}

li.menu_item{
	font-size: 1.2em;
	line-height: 1.5;
	font-weight: bold;
	color: #d9d9d9;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 20px;
}

li.menu_item:hover{
	color: white;
	background-color: #4a86e8;
	cursor: pointer; 
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 
	2px rgba(0,0,0,0.24);
}
.menu_item a{
	color: inherit;
	text-decoration: none;
}
/*end menu item styling*/

/*Style content section*/
div.content{
	margin-left: 250px; /*same as menu bar width*/
	background-color: #cccccc;
	height: 100%;
}

/*style top bar container*/
div.top_bar{
	height: 5rem;
	background-color: white;
}

