
/*main css styling*/
/*Author: Techel6*/
/*Description: styling for menu
and other globaly used classes*/

/*imported in index.html*/

/*Material UI shadow*/
.shadow{
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24) !important;
}


/*remove border from bootstrap container*/
div.container-fluid{
	padding: 0px;
}

/*Style side menu bar*/
div.menu{
	background-color: #363647;
	height: 100%;
	width: 250px; /*fixed width*/
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	padding-top: 10vh;
}

/*Menu item styling*/
h3.menu_title{
	color: white;
	font-weight: bold;
	padding-left: 20px;
}

ul.menu_list{
	padding-bottom: 2em;
	list-style-type: none;
	padding-left: 0;
}

li.menu_item{
	font-size: 1em;
	line-height: 1.5;
	font-weight: bold;
	color: #d9d9d9;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 20px;
}

li.menu_item:hover{
	color: white;
	background-color: #4a86e8;
	cursor: pointer;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px
	2px rgba(0,0,0,0.24);
}
.menu_item a{
	display: block;
	color: inherit;
	text-decoration: none;
}
/*end menu item styling*/

/*////////////////////////////////////////////*/

/*Style content section*/
div.content{
	margin-left: 250px; /*same as menu bar width*/
	background-color: #cccccc;
	overflow: auto;
	max-height: 90vh;
	height: 90vh;
}

/*style top bar container*/
div.top_bar{
	background-color: white;
	margin-left: 250px;
	width: calc(100% - 250px);
	height: 10vh;
}


/*style search box*/
div.search-bar{
	margin-top: auto;
	margin-bottom: auto;
}

form.search-bar{
	margin: 0 2em;
}

/*custom search button*/
button.btn-search{
	border: 1px solid #cccccc;
}

/*resize search bar icon*/
img.search-icon{
	width: 1rem;
	height: 1rem;
}

/*////////////////////////////////////////////*/

/*Custom form-card styling*/

div.cardd{ /*non-bootstrap card*/
	background-color: white;
	border-radius: 10px;
	margin: auto;
	margin-top: 5%;
	margin-bottom: 5%;
	width: 35rem;
	max-width: 700px;
	padding: 3rem;
}

h2.cardd_header{
	font-weight: bold;
}

/*////////////////////////////////////////////*/

/*wider button*/
.btn-wide{
	width: 10rem;
}

/*custom button color*/
button.btn-primary{
	background-color: #4a86e8;
}

button.btn-primary:hover{
	background-color: #2770e8;
}

/*Custom Date input Widget*/
.date-input{
	width: 33% !important;
	display: inline;
}

